@import url("reset.css");
*{
	color: black;
}
a{
	color: aqua;
}
	h1{
		color: blue;
	}
	#main-info{
		color: brown;
	}
.list ~ li{
	color: green;
}
.list > li{
	color: red;
}
.facts span {
	color: green;
}
.list > li {
	color: red;
}
.list > li + li {
	color: green;
}
.list2 > li {
	color: orange;
}
.list2 > li.custom-first {
	color: blue;
}
.list3 > li {
	color: #5d5d5d;
}
.list3 > li.custom-first {
	color: #4597f7;
}
.list2 > li > span {
	color: #a0f0fc;
}
[class*="__end"] {
	color: red;
}
p.red {
	color: red;
}
.online-course,
.music-industry{
	color: blueviolet;
}
.kitchen.dishes {
	color: brown;
}